.dropdown {
    display: none;
}

.filters__toggle:checked ~ .dropdown {
    position: absolute;
    top: 2.5rem;
    left: 0;
    right: 0;
    z-index: 10;
    background: var(--white);
    display: grid;
    padding: .5rem;
    height: 8.25rem;
    overflow: scroll;
    border-radius: .25rem;
    border: 1px solid var(--grey-200);
}

.dropdown__input:checked + .dropdown__label {
    background: var(--grey-100);
}

.dropdown__label {
    display: block;
    width: 100%;
    padding: .5rem;
    border-radius: .25rem;
    transition: background 200ms ease-in-out;
}

.dropdown__label:hover {
    background: var(--grey-50);
}
