.dropdown {
    display: none;
}

.filters__toggle:checked ~ .dropdown {
    position: absolute;
    top: 3.5rem;
    left: 0;
    right: 0;
    z-index: 10;
    background: var(--white);
    display: grid;
    gap: .25rem;
    padding: .5rem;
    height: 6rem;
    overflow: scroll;
    border-radius: .25rem;
    border: 0.0625rem solid var(--grey-300);
}

.dropdown__item {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.dropdown__input:checked + .dropdown__label {
    background: var(--grey-100);
}

.dropdown__label {
    flex: 1;
    padding: .25rem;
    border-radius: .125rem;
    transition: background 200ms ease-in-out;
}

.dropdown__label:hover {
    background: var(--grey-50);
}
