.filters__item {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--grey-300);
}

.filters__item:before,
.filters__input--tags:before {
    content: "";
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: invert(23%) sepia(9%) saturate(408%) hue-rotate(349deg) brightness(97%) contrast(91%);
    pointer-events: none;
}

.filters__item--search:before {
    left: 1.25rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z' /%3E%3C/svg%3E%0A");
}

.filters__input,
.filters__submit {
    display: block;
    padding: 1.25rem;
    width: 100%;
    border: none;
    color: var(--grey-700);
    font-family: var(--geist-mono);
}

.filters__input:focus-within {
    outline: none;
}

.filters__input::placeholder,
.filters__input--placeholder {
    color: var(--grey-500);
}

.filters__input--search {
    padding-left: 2.5rem;
}

.filters__input--tags {
    position: relative;
    display: flex;
    align-items: center;
    height: 3.8125rem;
    padding-right: 2.5rem;
    max-width: calc(100vw - 2.5rem);
}

.filters__input--tags div {
    display: flex;
    gap: .25rem;
    overflow: scroll;
    flex: 1;
}

.filters__input--tags:before {
    right: 1.25rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A");
    z-index: 3;
}

.filters__input--tags:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 2.5rem;
    background: white;
    z-index: 2;
}

.filters__submit {
    text-align: center;
    background: var(--grey-100);
    transition: background 200ms ease-out;
    border-bottom: 1px solid var(--grey-300);
}

.filters__submit:hover {
    background: var(--grey-200);
}

.filters__submit:focus-within {
    background: var(--grey-50);
}

.filters__toggle:checked ~ .filters__dropdown {
    display: grid;
}

@media screen and (min-width: 800px) {
    .filters__form {
        display: flex;
        border-bottom: 1px solid var(--grey-300);
    }

    .filters__item {
        width: 17.5rem;
        border-right: 1px solid var(--grey-300);
        border-bottom: none;
    }

    .filters__input {
        max-width: 17.5rem;
    }


    .filters__submit {
        flex: 1;
        border-bottom: none;
    }
}
