.hero {
    padding: 2.5rem;
    border-bottom: 1px solid var(--grey-300);
    border-top: 1px solid var(--grey-300);
}

.hero__title {
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-family: var(--geist-mono);
}

.hero__subtitle {
    color: var(--grey-500);
    font-size: 1rem;
}
