:root {
  --test-color: #ff0000; /* Define your CSS variable */
}

.tag {
    padding: .25rem .5rem;
    font-family: var(--geist-mono);
    font-size: 0.75rem;
}

.tag--close {
    position: relative;
    display: none;
    min-width: max-content;
    gap: .5rem;
    align-items: center;
    cursor: pointer;
}

.tag--close-icon {
    width: 0.75rem;
    display: flex;
    align-items: center;
    pointer-events: none;
}
