.app {
    display: grid;
    grid-template-columns:
        [full-start] 1fr
        [content-start] min(calc(100vw - 3rem), 50rem)
        [content-end] 1fr
        [full-end];
    padding: 5rem 0;
    color: var(--grey-700);
    font-family: var(--geist);
}
