@font-face {
    font-family: "Geist";
    src: url('../fonts/GeistVF.woff2') format("woff2-variations");
    font-weight: 125 950;
}

@font-face {
    font-family: "Geist Mono";
    src: url('../fonts/GeistMonoVF.woff2');
    font-weight: 125 950;
}

:root {
    --geist: "Geist", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --geist-mono : "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
